@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(94 234 212 / 1);
}

.input {
  @apply border rounded-l-3xl rounded-r-3xl px-4 py-2 outline-gray-300 w-2/3;
}

.nav-link {
  @apply hover:bg-gray-400 focus:bg-gray-400 rounded-lg p-2 w-full flex justify-center outline-none;
}

.loading {
  animation: 0.25s linear 0s loading;
}

@keyframes loading {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
